/* .bandlecity{
  /* background-image:linear-gradient(to right, rgba(159, 192, 0, 1) 30%, rgba(0,0,0,0) 70%); */
/* }  */

.card{
  width: 20vw;
  height: fit-content;
  list-style-type: none;
  padding-bottom: 3px;
  display:flex;
  justify-content: center;
}

.deck{
  display:flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.decksWrapper{
  display:flex;
  flex-direction: row;
  width:100vw;
  justify-content:space-evenly;
  align-items: center;
}

.removeDeckButton{
  width: fit-content;
}


/* Region CSS */
.io{
  background-color: pink;
}
.pz{
  background-color: orange;
}

.bc{
  background-color: greenyellow;
}

.fr{
  background-color:lightblue;
}

.nx{
  background-color: red;
}

.de{
  background-color: antiquewhite;
}

.mt{
  background-color: purple;
}

.bw{
  background-color: brown;
}

.sh{
  background-color: yellow;
}

.ru{
  background-color: darkkhaki;
}